<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Add a Review</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <h2>Welcome, {{user.first_name}}!</h2>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
{% endwith %}
<a href="/dashboard">Go Back To Dashboard!</a>
    <h1>{{review.title}}</h1>
    <p>Content: {{review.content}}</p>
    <p>Rating: {{review.rating}}</p>
    <p>Date Watched: {{review.date_watched.strftime('%m-%d-%Y')}}</p>
    <p>Review written by {{review.user.first_name}} {{review.last_name}}</p>
    <h3>Users Who Favorited This Review</h3>
    {% for user_who_favorited in review.users_who_favorited %}
        <p>{{user_who_favorited.first_name}} {{user_who_favorited.last_name}}</p>
    {% endfor %}
<a href="/logout">Logout</a>

</body>
</html>