<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{user.first_name}} {{user.last_name}} Profile Information</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for("static", filename="css/style.css")}}'>

</head>
<body>
    <h1>Welcome {{user.first_name}} {{user.last_name}} to Review Dashboard</h1>
    <h2>{{review.title}} Review by {{review.user.first_name}} {{review.user.last_name}}</h2>
    <p>Rating: {{review.rating}}</p>
    <p>Content: {{review.content}}</p>

    <a href="/movie_dashboard">Go Back to Dashboard</a>
</body>
</html>